@model IEnumerable<STI.Models.Pregunta>
@Html.Partial("navBar")
@{ int i = 0;
    int[,] orden = ViewBag.ordenResp;
}
@foreach (var pregunta in Model)
{

    string[] resp = new string[4] { pregunta.Respuesta1, pregunta.Respuesta2, pregunta.Respuesta3, pregunta.Respuesta4 };
    <div class="container well">               
            <p style="text-align:justify">@Html.Raw(pregunta.Descripcion)<br /></p>
        <ul>
            <li><input type="radio" name="v+@Html.Name(pregunta.PreguntaId.ToString())" id="@Html.Id("r" + resp[orden[i, 0]])" onclick="guardar(@pregunta.PreguntaId,@orden[i, 0]+1)"> @Html.Raw(resp[orden[i, 0]])</li>
            <li><input type="radio" name="v+@Html.Name(pregunta.PreguntaId.ToString())" id="@Html.Id("r" + resp[orden[i, 1]])" onclick="guardar(@pregunta.PreguntaId,@orden[i, 1]+1)"> @Html.Raw(resp[orden[i, 1]])</li>
            <li><input type="radio" name="v+@Html.Name(pregunta.PreguntaId.ToString())" id="@Html.Id("r" + resp[orden[i, 2]])" onclick="guardar(@pregunta.PreguntaId,@orden[i, 2]+1)"> @Html.Raw(resp[orden[i, 2]])</li>
            <li><input type="radio" name="v+@Html.Name(pregunta.PreguntaId.ToString())" id="@Html.Id("r" + resp[orden[i, 3]])" onclick="guardar(@pregunta.PreguntaId,@orden[i, 3]+1)"> @Html.Raw(resp[orden[i, 3]])</li>            
        </ul>
    </div>
    i++;
}
<div id="page-selection">
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Anterior</a></li>
        <li class="next"><a href="#">Siguiente &rarr;</a></li>
    </ul>
</div>