
@{
    ViewBag.Title = "autoestima";
}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    $(document).ready(function(){
        drawChartAutoestima();
    })
</script>
<h2>autoestima</h2>
@Html.Partial("navBar")
<div class="row">
    <div class="col-md-3">
        <form role="form">
            <div class="form-group">
                <label for="txtGeneral">Calificacion total @ViewBag.general</label>
                <input type="text" data-cal="@ViewBag.general" class="form-control" id="txtGeneral" disabled value="@ViewBag.mensaje">
            </div>
            <div class="form-group">
                <label for="txtCatGeneral">Autoestima General @ViewBag.catGeneral</label>
                <input type="text" data-cal="@ViewBag.catGeneral" class="form-control" id="txtCatGeneral" disabled value="@ViewBag.mensajeCatG">
            </div>
            <div class="form-group">
                <label for="txtCatFamilia">Autoestima en la Familia @ViewBag.catFamilia</label>
                <input type="text" data-cal="@ViewBag.catFamilia" class="form-control" id="txtCatFamilia" disabled value="@ViewBag.mensajeCatF">
            </div>
            <div class="form-group">
                <label for="txtCatEscolar">Autoestima en la escuela @ViewBag.catEscolar</label>
                <input type="text" data-cal="@ViewBag.catEscolar" class="form-control" id="txtCatEscolar" disabled value="@ViewBag.mensajeCatE">
            </div>
        </form>
        @if ((int?)ViewBag.catGeneral < 20 || (int?)ViewBag.catFamilia < 17 || (int?)ViewBag.catEscolar < 20)
        {
            <a href="@Url.Action("autoestima","Materiales")">Material</a>
        }
    </div>
    <div class="col-md-9">
        <!--Div that will hold the pie chart-->
        <div id="chartAutoestima" style="width: 900px; height: 400px;"></div>
    </div>
</div>
